/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 juin 2015, 11:51:38
    Author     : YMA
*/
.centralpanel,.rightpanel{
    margin-top: 10px;
}


.tabActions{
    margin-left: 5px;
}
.tabActions:hover{
    color: red;
}

#graphCtxMenu {
    position:fixed;
}


.graphView{
    height: 800px;
    border: dotted 1px #4e5d6c;
    border-radius: 8px;
    margin-top: 10px;
    position: relative;
}
.gridView{
    height: 800px;
    margin-top: 10px;
    position: relative;
}


.switchGridGraph{
    z-index: 1000;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 60px;
    right: 25px;
    border-radius: 3px;
    border: solid 1px black;
}
.switchGridGraph.graphState{
    background: url("../images/graphswitch.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.switchGridGraph.gridState{
    background: url("../images/gridswitch.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.switchGridGraph.graphState:hover{
    background: url("../images/gridswitch.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #ddd;
}
.switchGridGraph.gridState:hover{
    background: url("../images/graphswitch.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #ddd;
}
.switchGridGraph:hover{
    border: dotted 2px blue;
}

div.tab-content.gridTabs{
    margin-top: 40px;
}
ul.gridTabs{
    margin-top: 20px;
}
