/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 juin 2015, 11:51:38
    Author     : YMA
*/

.graphView{
    height: 800px;
    border: dotted 1px #4e5d6c;
    border-radius: 8px;
    margin-top: 10px;
    position: relative;
}

.switchGridGraph.graphState{
    z-index: 1000;
    height: 48px;
    width: 48px;
    position: absolute;
    top: 60px;
    right: 25px;
    background: url("../images/gridswitch.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 5px;
    border: solid 1px black;
}
.switchGridGraph.gridState{
    background: url("../images/gridswitch.png");
}
.switchGridGraph:hover{
    border: solid 2px red;
}